In [13]:
#StateUT-wise Number of Indian Penal Code (IPC) Crimes from 2020 to 2022
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.width",120)

In [3]:
DATA_PATH = "../data/raw/"

In [4]:
df_ipc = pd.read_csv(
    DATA_PATH + "StateUT-wise Number of Indian Penal Code (IPC) Crimes from 2020 to 2022.csv"
)

In [5]:
df_ipc.head()

,Sl. No.,State/UT,2020,2021,2022,Mid-Year Projected Population (in Lakhs) (2022),Rate of Cognizable Crimes (IPC) (2022),Chargesheeting Rate (2022)
0,1,Andhra Pradesh,188997,179611,158547,530.3,299.0,86.5
1,2,Arunachal Pradesh,2244,2626,2308,15.5,148.8,47.2
2,3,Assam,111558,119883,59315,354.9,167.1,32.6
3,4,Bihar,194698,186006,211079,1255.3,168.1,75.4
4,5,Chhattisgarh,65216,70519,73822,299.5,246.5,80.4

In [7]:
df_ipc.info()
df_ipc.shape

<class 'pandas.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Sl. No.                                          39 non-null     str
 1   State/UT                                         39 non-null     str
 2   2020                                             39 non-null     int64
 3   2021                                             39 non-null     int64
 4   2022                                             39 non-null     int64
 5   Mid-Year Projected Population (in Lakhs) (2022)  39 non-null     float64
 6   Rate of Cognizable Crimes (IPC) (2022)           39 non-null     float64
 7   Chargesheeting Rate (2022)                       39 non-null     float64
dtypes: float64(3), int64(3), str(2)
memory usage: 2.6 KB

(39, 8)

In [8]:
df_ipc.drop(columns=["Sl. No."], inplace=True)
df_ipc.rename(columns={"State/UT": "state_ut"}, inplace=True)
df_ipc.columns

Index(['state_ut', '2020', '2021', '2022', 'Mid-Year Projected Population (in Lakhs) (2022)',
       'Rate of Cognizable Crimes (IPC) (2022)', 'Chargesheeting Rate (2022)'],
      dtype='str')

In [9]:
df_ipc["state_ut"] = df_ipc["state_ut"].str.strip()

In [10]:
df_ipc.dtypes

state_ut                                               str
2020                                                 int64
2021                                                 int64
2022                                                 int64
Mid-Year Projected Population (in Lakhs) (2022)    float64
Rate of Cognizable Crimes (IPC) (2022)             float64
Chargesheeting Rate (2022)                         float64
dtype: object

In [11]:
df_ipc.isna().sum()

state_ut                                           0
2020                                               0
2021                                               0
2022                                               0
Mid-Year Projected Population (in Lakhs) (2022)    0
Rate of Cognizable Crimes (IPC) (2022)             0
Chargesheeting Rate (2022)                         0
dtype: int64

In [12]:
df_ipc.to_csv("../data/processed/ipc_crimes_2020_2022_cleaned.csv", index=False)

In [15]:
#population, education, urban
df_pop = pd.read_excel(
    DATA_PATH + "population, education, urban.xlsx",
    sheet_name="India_Census_2011"
)
df_pop.head()
df_pop.info()
df_pop.shape

<class 'pandas.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State_UT                    37 non-null     str
 1   Population_2011             37 non-null     int64
 2   Literacy_Rate_2011_percent  37 non-null     float64
 3   Urbanization_2011_percent   37 non-null     float64
dtypes: float64(2), int64(1), str(1)
memory usage: 1.3 KB

(37, 4)

In [17]:
df_pop.rename(
    columns={
        "State_UT": "state_ut",
        "Population_2011": "population_2011",
        "Literacy_Rate_2011_percent": "literacy_rate_2011",
        "Urbanization_2011_percent": "urbanization_rate_2011"
    },
    inplace=True
)
df_pop.columns

Index(['state_ut', 'population_2011', 'literacy_rate_2011', 'urbanization_rate_2011'], dtype='str')

In [18]:
df_pop["state_ut"] = df_pop["state_ut"].str.strip()
df_pop["state_ut"] = df_pop["state_ut"].str.title()

In [19]:
num_cols = [
    "population_2011",
    "literacy_rate_2011",
    "urbanization_rate_2011"
]

df_pop[num_cols] = df_pop[num_cols].apply(
    pd.to_numeric, errors="coerce"
)

In [20]:
df_pop.isna().sum()

state_ut                  0
population_2011           0
literacy_rate_2011        0
urbanization_rate_2011    0
dtype: int64

In [21]:
df_pop.describe()

       population_2011  literacy_rate_2011  urbanization_rate_2011
count     3.700000e+01           37.000000               37.000000
mean      3.273095e+07           77.553514               38.648649
std       4.280840e+07            8.560122               21.613985
min       6.447300e+04           61.800000               10.040000
25%       1.383727e+06           70.280000               24.870000
50%       1.678794e+07           77.000000               31.870000
75%       4.957710e+07           85.850000               46.620000
max       1.998123e+08           93.910000               97.500000

In [22]:
df_pop.to_csv(
    "../data/processed/population_literacy_urbanization_cleaned.csv",
    index=False
)

In [24]:
#StateUT-wise Number of Murder Cases from 2020 to 2022
df_murder = pd.read_csv(
    DATA_PATH + "StateUT-wise Number of Murder Cases from 2020 to 2022.csv"
)
df_murder.head()
df_murder.info()
df_murder.shape

<class 'pandas.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Sl. No.                                          39 non-null     str
 1   State/UT                                         39 non-null     str
 2   2020                                             39 non-null     int64
 3   2021                                             39 non-null     int64
 4   2022                                             39 non-null     int64
 5   Mid-Year Projected Population (in Lakhs) (2022)  39 non-null     float64
 6   Rate of Murder (2022)                            39 non-null     float64
 7   Chargesheeting Rate (2022)                       38 non-null     float64
dtypes: float64(3), int64(3), str(2)
memory usage: 2.6 KB

(39, 8)

In [25]:
df_murder.drop(columns=["Sl. No."], inplace=True)
df_murder.rename(columns={"State/UT": "state_ut"}, inplace=True)
df_murder["state_ut"] = df_murder["state_ut"].str.strip().str.title()
num_cols = df_murder.columns.difference(["state_ut"])
df_murder[num_cols] = df_murder[num_cols].apply(
    pd.to_numeric, errors="coerce"
)

In [27]:
df_murder.isna().sum()
df_murder.fillna(0, inplace=True)

,state_ut,2020,2021,2022,Mid-Year Projected Population (in Lakhs) (2022),Rate of Murder (2022),Chargesheeting Rate (2022)
0,Andhra Pradesh,853,956,925,530.3,1.7,93.1
1,Arunachal Pradesh,45,49,56,15.5,3.6,75.3
2,Assam,1131,1192,1072,354.9,3.0,37.1
3,Bihar,3150,2799,2930,1255.3,2.3,92.1
4,Chhattisgarh,972,1007,1013,299.5,3.4,93.0
5,Goa,34,26,44,15.7,2.8,88.6
6,Gujarat,982,1010,959,709.3,1.4,91.8
7,Haryana,1143,1112,1020,299.7,3.4,74.0
8,Himachal Pradesh,91,86,85,74.4,1.1,90.3
9,Jharkhand,1592,1573,1550,391.4,4.0,81.5
10,Karnataka,1331,1357,1404,674.1,2.1,90.2
11,Kerala,306,337,334,356.8,0.9,96.1
12,Madhya Pradesh,2101,2034,1978,858.9,2.3,94.7
13,Maharashtra,2163,2330,2295,1257.4,1.8,92.5
14,Manipur,46,46,47,32.0,1.5,37.5
15,Meghalaya,79,80,72,33.3,2.2,37.3
16,Mizoram,28,24,31,12.3,2.5,95.7
17,Nagaland,25,27,21,22.2,0.9,62.1
18,Odisha,1470,1394,1379,460.8,3.0,77.0
19,Punjab,757,723,670,306.0,2.2,83.7
20,Rajasthan,1719,1786,1834,804.4,2.3,57.5
21,Sikkim,11,14,9,6.8,1.3,100.0
22,Tamil Nadu,1661,1686,1690,767.1,2.2,96.9
23,Telangana,802,1026,937,379.5,2.5,92.2
24,Tripura,114,122,109,41.2,2.6,72.3
25,Uttar Pradesh,3779,3717,3491,2340.9,1.5,83.0
26,Uttarakhand,160,208,187,115.6,1.6,78.6
27,West Bengal,1948,1884,1696,987.6,1.7,82.9
28,Total State(S),28493,28605,27838,13403.0,2.1,81.2
29,Andaman And Nicobar Islands,5,16,7,4.0,1.7,87.5
30,Chandigarh,22,17,18,12.2,1.5,78.6
31,Dadra And Nagar Haveli And Daman And Diu,13,14,16,12.0,1.3,88.9
32,Delhi,472,459,509,211.0,2.4,95.1
33,Jammu And Kashmir,149,136,99,135.4,0.7,82.4
34,Ladakh,0,5,5,3.0,1.7,80.0
35,Lakshadweep,0,1,0,0.7,0.0,0.0
36,Puducherry,39,19,30,16.2,1.9,96.2
37,Total Ut (S),700,667,684,394.5,1.7,92.1
38,Total All India,29193,29272,28522,13797.5,2.1,81.5

In [28]:
df_murder.isna().sum()

state_ut                                           0
2020                                               0
2021                                               0
2022                                               0
Mid-Year Projected Population (in Lakhs) (2022)    0
Rate of Murder (2022)                              0
Chargesheeting Rate (2022)                         0
dtype: int64

In [30]:
df_murder["murder_rate_2022_calc"] = (
    df_murder["2022"] / df_murder["Mid-Year Projected Population (in Lakhs) (2022)"]
)
df_murder[
    ["state_ut", "Rate of Murder (2022)", "murder_rate_2022_calc"]
].head()

            state_ut  Rate of Murder (2022)  murder_rate_2022_calc
0     Andhra Pradesh                    1.7               1.744296
1  Arunachal Pradesh                    3.6               3.612903
2              Assam                    3.0               3.020569
3              Bihar                    2.3               2.334103
4       Chhattisgarh                    3.4               3.382304

In [31]:
df_murder.rename(
    columns={
        "Mid-Year Projected Population (in Lakhs) (2022)": "population_lakh_2022",
        "Rate of Murder (2022)": "murder_rate_2022",
        "Chargesheeting Rate (2022)": "chargesheeting_rate_murder_2022"
    },
    inplace=True
)

In [32]:
df_murder.to_csv(
    "../data/processed/murder_cases_2020_2022_cleaned.csv",
    index=False
)

In [33]:
#StateUT-wise Number of Women and Girls Victims of Rape during 2022
df_rape = pd.read_csv(
    DATA_PATH + "StateUT-wise Number of Women and Girls Victims of Rape during 2022.csv"
)

In [34]:
df_rape.drop(columns=["Sl. No."], inplace=True)
df_rape.rename(columns={"State/UT": "state_ut"}, inplace=True)
df_rape["state_ut"] = df_rape["state_ut"].str.strip().str.title()

In [35]:
df_rape.rename(
    columns={
        "Cases Reported - Col.(3)": "rape_cases_reported",
        "Child Victims of Rape (Below 18 Yrs) - Total Girl / Child Victims - Col.(8)": "child_rape_victims",
        "Women Victims of Rape (Above 18 Years) - Total Women / Adult Victims - Col.(13)": "adult_rape_victims",
        "Total Victims (Col.8+Col.13) - Col.(14)": "total_rape_victims"
    },
    inplace=True
)

In [36]:
num_cols = df_rape.columns.difference(["state_ut"])
df_rape[num_cols] = df_rape[num_cols].apply(
    pd.to_numeric, errors="coerce"
)

In [37]:
df_rape.isna().sum()
df_rape.fillna(0, inplace=True)

,state_ut,rape_cases_reported,Child Victims of Rape (Below 18 Yrs) - Below 6 Years - Col.(4),Child Victims of Rape (Below 18 Yrs) - 6 Years and Above - Below 12 Years - Col.(5),Child Victims of Rape (Below 18 Yrs) - 12 Years and Above - Below 16 Years - Col.(6),Child Victims of Rape (Below 18 Yrs) - 16 Years and Above - Below 18 Years - Col.(7),child_rape_victims,Women Victims of Rape (Above 18 Years) - 18 Years and Above - Below 30 Years - Col.(9),Women Victims of Rape (Above 18 Years) - 30 Years and Above - Below 45 Years - Col.(10),Women Victims of Rape (Above 18 Years) - 45 Years and Above - Below 60 Years - Col.(11),Women Victims of Rape (Above 18 Years) - 60 Years and Above - Col.(12),adult_rape_victims,total_rape_victims
0,Andhra Pradesh,621.0,0.0,0.0,0.0,0.0,0.0,458.0,160,8.0,1.0,627.0,627
1,Arunachal Pradesh,74.0,1.0,3.0,17.0,9.0,30.0,24.0,19,1.0,0.0,44.0,74
2,Assam,1113.0,0.0,0.0,2.0,2.0,4.0,868.0,455,151.0,0.0,1474.0,1478
3,Bihar,881.0,0.0,0.0,0.0,0.0,0.0,644.0,225,10.0,2.0,881.0,881
4,Chhattisgarh,1246.0,0.0,0.0,0.0,0.0,0.0,786.0,408,47.0,5.0,1246.0,1246
5,Goa,73.0,2.0,12.0,26.0,17.0,57.0,10.0,6,2.0,0.0,18.0,75
6,Gujarat,610.0,0.0,0.0,0.0,0.0,0.0,407.0,189,12.0,2.0,610.0,610
7,Haryana,1787.0,0.0,0.0,0.0,0.0,0.0,1094.0,628,59.0,6.0,1787.0,1787
8,Himachal Pradesh,359.0,10.0,22.0,95.0,96.0,223.0,109.0,32,5.0,0.0,146.0,369
9,Jharkhand,1298.0,0.0,0.0,10.0,174.0,184.0,903.0,208,3.0,0.0,1114.0,1298
10,Karnataka,595.0,0.0,0.0,0.0,0.0,0.0,385.0,190,21.0,2.0,598.0,598
11,Kerala,814.0,0.0,0.0,0.0,0.0,0.0,414.0,336,55.0,15.0,820.0,820
12,Madhya Pradesh,3029.0,0.0,0.0,0.0,0.0,0.0,1970.0,931,138.0,7.0,3046.0,3046
13,Maharashtra,2904.0,0.0,0.0,0.0,0.0,0.0,1860.0,934,106.0,11.0,2911.0,2911
14,Manipur,42.0,0.0,0.0,0.0,0.0,0.0,29.0,13,0.0,0.0,42.0,42
15,Meghalaya,75.0,0.0,1.0,2.0,0.0,3.0,39.0,30,3.0,0.0,72.0,75
16,Mizoram,14.0,0.0,0.0,0.0,1.0,1.0,11.0,1,1.0,0.0,13.0,14
17,Nagaland,7.0,0.0,0.0,1.0,0.0,1.0,5.0,1,0.0,0.0,6.0,7
18,Odisha,1464.0,0.0,0.0,0.0,1.0,1.0,1425.0,31,3.0,4.0,1463.0,1464
19,Punjab,517.0,0.0,0.0,0.0,0.0,0.0,349.0,150,12.0,6.0,517.0,517
20,Rajasthan,5399.0,0.0,0.0,0.0,0.0,0.0,3615.0,1506,287.0,0.0,5408.0,5408
21,Sikkim,13.0,0.0,0.0,0.0,0.0,0.0,9.0,3,0.0,1.0,13.0,13
22,Tamil Nadu,421.0,0.0,0.0,2.0,3.0,5.0,312.0,84,9.0,11.0,416.0,421
23,Telangana,814.0,0.0,0.0,0.0,0.0,0.0,563.0,221,27.0,3.0,814.0,814
24,Tripura,62.0,0.0,0.0,0.0,0.0,0.0,42.0,16,4.0,0.0,62.0,62
25,Uttar Pradesh,3690.0,17.0,46.0,193.0,203.0,459.0,2427.0,724,81.0,1.0,3233.0,3692
26,Uttarakhand,867.0,0.0,0.0,0.0,0.0,0.0,487.0,352,65.0,1.0,905.0,905
27,West Bengal,1111.0,0.0,0.0,0.0,0.0,0.0,680.0,392,38.0,2.0,1112.0,1112
28,Total State (S),29900.0,30.0,84.0,348.0,506.0,968.0,19925.0,8245,1148.0,80.0,29398.0,30366
29,Andaman And Nicobar Islands,12.0,0.0,0.0,0.0,0.0,0.0,9.0,3,0.0,0.0,12.0,12
30,Chandigarh,78.0,2.0,4.0,21.0,21.0,48.0,21.0,9,0.0,0.0,30.0,78
31,Dadra And Nagar Haveli And Daman And Diu,9.0,0.0,0.0,0.0,0.0,0.0,6.0,3,0.0,0.0,9.0,9
32,Delhi,1212.0,0.0,0.0,0.0,0.0,0.0,886.0,304,17.0,5.0,1212.0,1212
33,Jammu And Kashmir,287.0,0.0,0.0,0.0,0.0,0.0,203.0,78,5.0,1.0,287.0,287
34,Ladakh,5.0,0.0,0.0,1.0,0.0,1.0,2.0,2,0.0,0.0,4.0,5
35,Lakshadweep,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0,0.0,0.0,4.0,4
36,Puducherry,9.0,0.0,0.0,0.0,0.0,0.0,7.0,0,1.0,1.0,9.0,9
37,Total Ut (S),1616.0,2.0,4.0,22.0,21.0,49.0,1138.0,399,23.0,7.0,1567.0,1616
38,Total All India,31516.0,32.0,88.0,370.0,527.0,1017.0,21063.0,8644,1171.0,87.0,30965.0,31982
39,Percentage Share Of Age-Group Of Victims,0.0,0.1,0.3,1.2,1.6,3.2,65.9,27,3.7,0.3,96.8,100

In [38]:
df_rape["child_rape_share"] = (
    df_rape["child_rape_victims"] / df_rape["total_rape_victims"]
)

df_rape["adult_rape_share"] = (
    df_rape["adult_rape_victims"] / df_rape["total_rape_victims"]
)

In [39]:
df_rape[
    ["child_rape_share", "adult_rape_share"]
].describe()

       child_rape_share  adult_rape_share
count         40.000000         40.000000
mean           0.081169          0.918831
std            0.184608          0.184608
min            0.000000          0.240000
25%            0.000000          0.966000
50%            0.000000          1.000000
75%            0.034000          1.000000
max            0.760000          1.000000

In [40]:
df_rape.to_csv(
    "../data/processed/rape_victims_2022_cleaned.csv",
    index=False
)

In [47]:
import os

OUT_PATH = "../data/processed/"
os.makedirs(OUT_PATH, exist_ok=True)

In [48]:
df_convicts = pd.read_csv(DATA_PATH + "StateUT-wise Number of Convicts Confined in Major Indian Penal Code (IPC) Crimes from 2020 to 2022.csv")

df_convicts = (
    df_convicts
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_convicts["state_ut"] = df_convicts["state_ut"].str.strip().str.title()

num_cols = df_convicts.columns.difference(["state_ut"])
df_convicts[num_cols] = df_convicts[num_cols].apply(pd.to_numeric, errors="coerce")

df_convicts.fillna(0, inplace=True)

df_convicts.to_csv(OUT_PATH + "ipc_convicts_cleaned.csv", index=False)

In [49]:
df_kidnap = pd.read_csv(DATA_PATH + "StateUT-wise Number of Recovery of Kidnapped and Abducted Persons during 2022.csv")

df_kidnap = (
    df_kidnap
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_kidnap["state_ut"] = df_kidnap["state_ut"].str.strip().str.title()

num_cols = df_kidnap.columns.difference(["state_ut"])
df_kidnap[num_cols] = df_kidnap[num_cols].apply(pd.to_numeric, errors="coerce")

df_kidnap.fillna(0, inplace=True)

df_kidnap.to_csv(OUT_PATH + "kidnapping_recovery_cleaned.csv", index=False)

In [50]:
df_motive = pd.read_csv(DATA_PATH + "StateUT-wise Number of Motives of Murder during 2022.csv")

df_motive = (
    df_motive
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_motive["state_ut"] = df_motive["state_ut"].str.strip().str.title()

num_cols = df_motive.columns.difference(["state_ut"])
df_motive[num_cols] = df_motive[num_cols].apply(pd.to_numeric, errors="coerce")

df_motive.fillna(0, inplace=True)

df_motive.to_csv(OUT_PATH + "murder_motives_cleaned.csv", index=False)

In [56]:
df_purpose = pd.read_csv(
    DATA_PATH + "Category-wise Number of Purpose of Kidnapping and Abduction (Alive Victims) during 2022.csv"
)

df_purpose = df_purpose.drop(columns=["Sl. No."])

df_purpose.columns = (
    df_purpose.columns.str.lower()
    .str.replace(r'col\.\(\d+\)', '', regex=True)
    .str.replace('[^a-z0-9_]', '_', regex=True)
)

num_cols = df_purpose.columns.difference(["purpose"])
df_purpose[num_cols] = df_purpose[num_cols].apply(pd.to_numeric, errors="coerce")

df_purpose.fillna(0, inplace=True)

df_purpose.to_csv(
    OUT_PATH + "kidnapping_purpose_cleaned.csv",
    index=False
)

In [57]:
df_rec_cat = pd.read_csv(
    DATA_PATH + "Category-wise Number of Recovery of Kidnapped and Abducted Persons during 2022.csv"
)

df_rec_cat = df_rec_cat.drop(columns=["Sl. No."])

df_rec_cat.columns = (
    df_rec_cat.columns.str.lower()
    .str.replace(r'col\.\(\d+\)', '', regex=True)
    .str.replace('[^a-z0-9_]', '_', regex=True)
)

df_rec_cat = df_rec_cat.rename(columns={"category": "recovery_category"})

num_cols = df_rec_cat.columns.difference(["recovery_category", "recovery"])
df_rec_cat[num_cols] = df_rec_cat[num_cols].apply(pd.to_numeric, errors="coerce")

df_rec_cat.fillna(0, inplace=True)

df_rec_cat.to_csv(
    OUT_PATH + "kidnapping_recovery_category_cleaned.csv",
    index=False
)

In [58]:
df_child = pd.read_csv(
    DATA_PATH + "StateUT-wise Number of Child Victims of Kidnapping and Abduction during 2022.csv"
)

df_child = (
    df_child
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_child["state_ut"] = df_child["state_ut"].str.strip().str.title()

num_cols = df_child.columns.difference(["state_ut"])
df_child[num_cols] = df_child[num_cols].apply(pd.to_numeric, errors="coerce")

df_child.fillna(0, inplace=True)

df_child.to_csv(
    OUT_PATH + "child_kidnapping_cleaned.csv",
    index=False
)

In [59]:
df_sll = pd.read_csv(
    DATA_PATH + "StateUT-wise Number of Special and Local Laws (SLL) Crimes from 2020 to 2022.csv"
)

df_sll = (
    df_sll
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_sll["state_ut"] = df_sll["state_ut"].str.strip().str.title()

num_cols = df_sll.columns.difference(["state_ut"])
df_sll[num_cols] = df_sll[num_cols].apply(pd.to_numeric, errors="coerce")

df_sll.fillna(0, inplace=True)

df_sll.to_csv(
    OUT_PATH + "sll_crimes_cleaned.csv",
    index=False
)

In [60]:
df_foreign = pd.read_csv(
    DATA_PATH + "StateUTs -wise Number of Distribution of Foreign Undertrials in Jails by Gender and Age-groups.csv"
)

df_foreign = (
    df_foreign
    .drop(columns=["Sl. No."])
    .rename(columns={"State/UT": "state_ut"})
)

df_foreign["state_ut"] = df_foreign["state_ut"].str.strip().str.title()

num_cols = df_foreign.columns.difference(["state_ut"])
df_foreign[num_cols] = df_foreign[num_cols].apply(pd.to_numeric, errors="coerce")

df_foreign.fillna(0, inplace=True)

df_foreign.to_csv(
    OUT_PATH + "foreign_undertrials_cleaned.csv",
    index=False
)

In [63]:
import pandas as pd

P = "../data/processed/"

ipc = pd.read_csv(P + "ipc_crimes_cleaned.csv")
pop = pd.read_csv(P + "population_literacy_urbanization_cleaned.csv")
murder = pd.read_csv(P + "murder_cases_2020_2022_cleaned.csv")
rape = pd.read_csv(P + "rape_victims_2022_cleaned.csv")
convicts = pd.read_csv(P + "ipc_convicts_cleaned.csv")
kidnap_state = pd.read_csv(P + "kidnapping_recovery_cleaned.csv")
motives = pd.read_csv(P + "murder_motives_cleaned.csv")
child_kidnap = pd.read_csv(P + "child_kidnapping_cleaned.csv")

MASTER = (
    ipc
    .merge(pop, on="state_ut", how="left")
    .merge(murder, on="state_ut", how="left", suffixes=("", "_murder"))
    .merge(rape, on="state_ut", how="left")
    .merge(convicts, on="state_ut", how="left", suffixes=("", "_convicts"))
    .merge(kidnap_state, on="state_ut", how="left", suffixes=("", "_kidnap"))
    .merge(motives, on="state_ut", how="left", suffixes=("", "_motive"))
    .merge(child_kidnap, on="state_ut", how="left", suffixes=("", "_child"))
)

MASTER.fillna(0, inplace=True)

MASTER.to_csv(
    P + "MASTER_statewise_core_crime_dataset.csv",
    index=False
)

MASTER.shape

(39, 154)

In [64]:
purpose = pd.read_csv(P + "kidnapping_purpose_cleaned.csv")
recovery_cat = pd.read_csv(P + "kidnapping_recovery_category_cleaned.csv")

purpose["source"] = "purpose_wise"
recovery_cat["source"] = "recovery_category_wise"

KIDNAPPING_CATEGORY = pd.concat(
    [purpose, recovery_cat],
    ignore_index=True
)

KIDNAPPING_CATEGORY.to_csv(
    P + "KIDNAPPING_categorywise_dataset.csv",
    index=False
)

In [65]:
sll = pd.read_csv(P + "sll_crimes_cleaned.csv")
foreign = pd.read_csv(P + "foreign_undertrials_cleaned.csv")

SLL_FOREIGN = sll.merge(
    foreign,
    on="state_ut",
    how="left",
    suffixes=("_sll", "_foreign")
)

SLL_FOREIGN.fillna(0, inplace=True)

SLL_FOREIGN.to_csv(
    P + "SLL_and_ForeignUndertrials_dataset.csv",
    index=False
)